{% extends "budginator/layout.html" %}
{% block content %}
  {% if suggestions %}
  <div class="card mb-3">
    <div class="card-header">Suggested Links</div>
    <div class="card-body">
      {% for suggestion in suggestions %}
      <form action="/transactions/linkable" method="post">
        {% csrf_token %}
        <input type="hidden" name="imported" value="{{ suggestion.0.id }}">
        <input type="hidden" name="tracked" value="{{ suggestion.1.id }}">
        <div class="row">
          <div class="col-2">{{ suggestion.0.date }}</div>
          <div class="col-8">{{ suggestion.0.merchant }}</div>
          <div class="col-2">{{ suggestion.0.amount | amount }}</div>
        </div>
        <div class="row">
          <div class="col-2">{{ suggestion.1.date }}</div>
          <div class="col-8">{{ suggestion.1.merchant }}</div>
          <div class="col-2">{{ suggestion.1.amount | amount }}</div>
        </div>
        <div class="row mb-1">
          <div class="col-10"></div>
          <div class="col-2">
            <button type="submit" class="btn btn-light">Link</button>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
  {% endif %}


  <div class="card">
    <div class="card-header">Linkable Transactions</div>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>Date</td>
            <td>Merchant</td>
            <td class="text-end">Amount</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr data-transactionid="{{ transaction.id }}">
            <td>{{ transaction.date | date:"M j Y" }}</td>
            <td>{{ transaction.merchant }}</td>
            <td class="text-end">{{ transaction.amount | amount }}</td>
            <td>
              <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                                          data-bs-target="#linkModal"
                                                          data-linkable-transaction="{{ transaction.id }}"
                                                          data-linkable-date="{{ transaction.date | date:"M j Y" }}"
                                                          data-linkable-merchant="{{ transaction.merchant }}"
                                                          data-linkable-amount="{{ transaction.amount | amount }}">
                🔗
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <form action="/transactions/linkable" method="post">
      {% csrf_token %}
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="linkModalLabel">Link Transaction</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="link-transaction" name="transaction">
            <div class="mb-3">
              <label for="link-date" class="col-form-label">Date:</label>
              <input type="text" class="form-control" id="link-date" readonly="readonly">
            </div>
            <div class="mb-3">
              <label for="link-merchant" class="col-form-label">Merchant:</label>
              <input type="text" class="form-control" id="link-merchant" readonly="readonly">
            </div>
            <div class="mb-3">
              <label for="link-amount" class="col-form-label">Amount:</label>
              <input type="text" class="form-control" id="link-amount" readonly="readonly">
            </div>
            <div class="mb-3">
              <label for="link-budget" class="col-form-label">Budget:</label>
              <select class="form-control" id="link-budget" name="budget">
                {% for budget in budgets %}
                <option value="{{ budget.id }}">{{ budget.icon }} {{ budget.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="link-note" class="col-form-label">Note:</label>
              <input type="text" class="form-control" id="link-note" name="note">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      const linkModal = document.getElementById("linkModal")
      linkModal.addEventListener("show.bs.modal", event => {
        button = event.relatedTarget
        document.getElementById("link-amount").value = button.getAttribute("data-linkable-amount")
        document.getElementById("link-date").value = button.getAttribute("data-linkable-date")
        document.getElementById("link-merchant").value = button.getAttribute("data-linkable-merchant")
        document.getElementById("link-transaction").value = button.getAttribute("data-linkable-transaction")
      });
    });
  </script>
{% endblock %}
