{% extends "budginator/layout.html" %}
{% block content %}
  <div class="card">
    <div class="card-header">Transactions</div>
    <div class="card-body">
{% for transaction in transactions %}
{% cycle '' 'bg-light' as rowcolor silent %}
{% for split in transaction.splits.all %}
{% if not budget_filter or budget_filter == split.budget.id %}
{% if forloop.first and forloop.last %}
      <div data-transactionid="{{ transaction.id }}" class="row gx-2 py-2 align-items-center {{ rowcolor }}">
        <div class="col-12 col-xl-1">{{ transaction.date | date:"M j" }}</div>
        <div class="col-12 col-xl-6">{{ transaction.merchant }}</div>
        <div class="col-6  col-xl-1 text-end">{{ split.amount | amount }}</div>
        <div class="col-6  col-xl-2">{{ split.budget.name }}</div>
        <div class="col-12 col-xl-2">{{ split.note }}</div>
      </div>
{% else %}
{% if forloop.first %}
      <div data-transactionid="{{ transaction.id }}" class="row gx-2 py-2 align-items-center {{ rowcolor }}">
        <div class="col-12 col-xl-1">{{ transaction.date | date:"M j" }}</div>
        <div class="col-12 col-xl-6">{{ transaction.merchant }}</div>
        <div class="col-6  col-xl-1 text-end">{{ transaction.amount | amount }}</div>
        <div class="col-6  col-xl-2"></div>
        <div class="col-12 col-xl-2"></div>
      </div>
{% endif %}
      <div data-transactionid="{{ transaction.id }}" class="row gx-2 py-2 align-items-center {{ rowcolor }}">
        <div class="col-12 col-xl-1"></div>
        <div class="col-12 col-xl-6"></div>
        <div class="col-6  col-xl-1 text-end">{{ split.amount | amount }}</div>
        <div class="col-6  col-xl-2">{{ split.budget.name }}</div>
        <div class="col-12 col-xl-2">{{ split.note }}</div>
      </div>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      document.querySelectorAll(".row").forEach(function(row) {
        row.addEventListener("click", function(event) {
          document.location = `/transactions/edit?transaction=${row.dataset.transactionid}`;
        });
      });
    });
  </script>
{% endblock %}
